
body {
    --color-background: white;
    --color-body: #282828;
    background: var(--color-background);
	font-size: 12px;
}

body, a {
	color: var(--color-body);
}

.flex-row {
	flex-direction: column;
}

.header {
	position: initial;
}

#header-spacer {
	display: none;
}

#callme {
	display: initial !important;
}

.social {
	font-size: 1rem;

	li {
		display: block;
	}

	.ig, .steam {
		display: none;
	}

	.icon {
		span {
			display: initial;
		}
	}
}

#parallax {
  display: none;
}
