html {
	height: 100%;
}

body {
	height: 100%;
	background: #ffdfd0;
	background: linear-gradient(to bottom, #ffdfd0 80%, #fdc8bb) fixed;
	color: #5a5a5a;
    font-family: 'Merriweather', 'Georgia', "Times New Roman", serif;
}

div {
	margin: 1em;
}

h1 {
	font-size: 2em;
}

ul {
	font-size: 2em;
}

li {
	display: inline;
}

a {
	color: #555;
}

a.fb {
	color: #5a6b9a;
}

a.p {
	color: #d05954;
}
