html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: #ffdfd0;
	background: linear-gradient(to bottom, #ffdfd0 80%, #fdc8bb) fixed;
	color: #5a5a5a;
    font-family: 'Merriweather', 'Georgia', "Times New Roman", serif;
}

.flex-row {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	margin: 0;
}

.header {
	position: fixed;
	margin: 0;
}

.content {
	flex: 1;
}

.content p:first-of-type {
    margin-top: 0;
}

div {
	margin: 1em;
}

h1 {
	font-size: 2em;
}

ul {
	font-size: 2em;
}

li {
	display: inline;
}

a {
	color: #5a5a5a;
}

/* Icons */
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'FontAwesome';
	text-decoration: none;
}

.icon > span {
	display: none;
}

.icon.fb:before {
	color: #5a6b9a;
	content: "\f082";
}

.icon.p:before {
	color: #d05954;
	content: "\f0d3";
}

.icon.gh:before {
	content: "\f092";
}

.icon.mail:before {
	content: "\f199";
}

/* skyline */
.parallax {
	flex: none;
	margin: 0;
	height: 316.333px;
	overflow: hidden;
	position: relative;
}

.parallax__layer {
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	fill: #566288;
}
.parallax__layer:nth-last-of-type(1) {
	fill: #0d142b;
}
.parallax__layer:nth-last-of-type(2) {
	fill: #162041;
}
.parallax__layer:nth-last-of-type(3) {
	fill: #242e54;
}
.parallax__layer:nth-last-of-type(4) {
	fill: #37456b;
}

/* Reset */
svg {
	display: block;
}

h1, ul {
	margin: 0;
	padding: 0;
}

/* Reflow to one column */
@media(max-width: 700px) {
	.flex-row {
		flex-direction: column;
	}

	.header {
		position: initial;
	}
}
