$color-background: #ffffff;
$color-body: #000000;

body {
	background: $color-background;
	font-size: 12px;
}

body, a {
	color: $color-body;
}

.flex-row {
	flex-direction: column;
}

.header {
	position: initial;
}

#header-spacer {
	display: none;
}

#callme {
	display: initial !important;
}

.social {
	font-size: 1rem;

	li {
		display: block;
	}

	.icon {
		span {
			display: initial;
		}
	}
}

#parallax {
  display: none;
}
