$color-background: white;
$color-body: #282828;

html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: $color-background;
	font-size: 1rem;
    font-family: 'Merriweather', 'Georgia', "Times New Roman", serif;
}

body, a {
	color: $color-body;
}

div {
	margin: 1rem;
}

.flex-row {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	margin: 0;
}

.header {
	position: fixed;
	margin: 0;
}

.content {
	flex: 1;

	p:first-of-type {
	    margin-top: 0;
	}
}

h1, ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

.social {
	font-size: 2rem;

	li {
		display: inline;
	}
}

.activities {
	list-style-type: none;
	padding: 0;

	> li {
		list-style-position: inside;
		margin-bottom: 1.5rem;

		.period {
			font-weight: bold;
		}

	}
}

.details {
	list-style-type: square;

	li {
		margin-top: 0.5rem;
	}
}

/* Icons */
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'FontAwesome';
	text-decoration: none;

	span {
		display: none;
		font-size: 1rem;
		margin-left: 0.5rem;
	}

	&.gh:before {
		content: "\f092";
	}

	&.mail:before {
		content: "\f199";
	}

	&.phone:before {
		content: "\f098";
	}
}

/* skyline */
.parallax {
	flex: none;
	margin: 0;
	height: 316.333px;
	overflow: hidden;
	position: relative;

	.parallax__layer {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		fill: #566288;

		&:nth-last-of-type(1) {
			fill: #0d142b;
		}
		&:nth-last-of-type(2) {
			fill: #162041;
		}
		&:nth-last-of-type(3) {
			fill: #242e54;
		}
		&:nth-last-of-type(4) {
			fill: #37456b;
		}
	}
}

/* Reset */
svg {
	display: block;
}

/* Reflow to one column */
@media(max-width: 1024px) {
	.flex-row {
		flex-direction: column;
	}

	.header {
		position: initial;
	}

	#header-spacer {
		display: none;
	}
}

@media(prefers-color-scheme: dark) {
	body {
		background: $color-body;
	}
	
	body, a {
		color: $color-background
	}	
}
